.wrapper {
    padding: 1rem;
    line-height: 8px;
}

.wrapper img {
    width: 100%;
    border-radius: 5px;
}

.wrapper h1 {
    font-size: 150%;
    text-align: left;
    letter-spacing: 0.5px;
}

.wrapper p {
    font-size: 120%;
    text-align: left;
}

.wrapper button {
    width: 100%;
    padding: 0.4rem;
    color: #44672af3;
    font-size: 140%;
    box-shadow: none;
    border: none;
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
}