.wrapper {
  padding: 1rem;
  flex-direction: column;
}

.wrapper h1 {
  text-align: left;
}

.wrapper p {
  text-align: left;
}

.wrapper a {
  color: white;
  background-color: #44672af3;
  padding: 0.4rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  display: block;
}

.wrapper a:hover {
  background-color: #334c20f3;
}

.wrapper img {
  width: 60%;
  padding: 1rem;
  border-radius: 5px;
}
 